{% extends "base.html" %}
{% block title %}Index{% endblock title %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock head %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto aliquid quaerat dolore eum dolorum culpa voluptate, molestiae soluta totam deleniti nam nemo debitis repellat ut, perspiciatis animi! Provident sapiente, sed numquam obcaecati eaque rerum nisi officia eveniet nihil doloremque, eligendi velit non. Ducimus ipsum eos maxime, possimus illum, voluptatibus doloribus dolor accusamus iusto dolores nisi suscipit ullam eveniet inventore. Hic assumenda reiciendis ipsum, perspiciatis iusto dignissimos illum a aliquam soluta molestiae labore expedita! Quisquam reprehenderit aspernatur perferendis soluta cupiditate, assumenda natus voluptatem eligendi nostrum ad impedit. Voluptates praesentium dolorem corrupti eveniet accusantium exercitationem veritatis. Reprehenderit similique amet quos fugit fugiat? 
    </p>
{% endblock content %}