{% extends "base.html" %}
{% block title %}kino{% endblock title %}
{% block head %}
{{ super() }}
<script src="/static/gol.js" defer></script>
{% endblock head %}

{% block meta %}
<meta property="og:title" content="nam's site" />
<meta property="og:url" content="https://namishh.me/kino" />
<meta property="og:image" content="/og/web/kino" />
<meta name="twitter:card" content="summary_large_image">
<meta property="og:type" content="article" />
<meta property="og:description" content="personal collection of list, resources and ideas">
<meta property="twitter:description" content="personal collection of list, resources and ideas">
<meta name="twitter:title" content="nam's site">
<meta property="twitter:image" content="/og/web/kino" />
{% endblock meta %}

{% block content %}
<div class="normal-text">
    <h1 class="text-neutral-700 dark:text-neutral-50 text-2xl md:text-3xl font-bold my-3">kino stuff</h1>
    <p>a collection of miscellaeneous stuff i found or stuff that is in my mind and i wanna do later</p>

    <img src="/static/images/kino.jpg" class="my-4" alt="banner">

    <h2 class="text-neutral-700 dark:text-neutral-50 text-xl md:text-2xl font-bold my-3">youtube</h2>
    <ul class="list-disc ml-4 flex flex-col gap-2 marker:text-neutral-400">
        {% for channel in kino_data.youtube_channels %}
        <li>
            <a href="{{ channel.url }}" class="underlined">{{ channel.name }}:</a>
            {% if channel.description %} {{ channel.description }}{% endif %}
        </li>
        {% endfor %}
    </ul>

    <h2 class="text-neutral-700 dark:text-neutral-50 text-xl md:text-2xl font-bold my-3">blogs</h2>
    <ul class="list-disc ml-4 flex flex-col gap-2 marker:text-neutral-400">
        {% for blog in kino_data.blogs %}
        <li>
            <a href="{{ blog.url }}" class="underlined">{{ blog.name }}:</a>
            {% if blog.description %} {{ blog.description }}{% endif %}
        </li>
        {% endfor %}
    </ul>

    <h2 class="text-neutral-700 dark:text-neutral-50 text-xl md:text-2xl font-bold my-3">good tech accs</h2>
    <ul class="list-none my-4 mx-2 grid lg:grid-cols-3 gap-3 grid-cols-2">
        {% for account in kino_data.tech_accounts %}
        <li>
            <a href="https://x.com/{{ account.username }}" class="flex items-center gap-2 text-sm underline underline-offset-4 dark:text-neutral-400 text-neutral-600 hover:text-neutral-900 dark:hover:text-neutral-200">
                <img src="https://wisp.rex.wf/x/{{ account.username }}" class="h-8 w-8"> 
                <span>{{ account.name }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>

    <h2 class="text-neutral-700 dark:text-neutral-50 text-xl md:text-2xl font-bold my-3">good tech accs 🇮🇳</h2>
    <ul class="list-none my-4 mx-2 grid lg:grid-cols-3 gap-3 grid-cols-2">
        {% for account in kino_data.indian_tech_accounts %}
        <li>
            <a href="https://x.com/{{ account.username }}" class="flex items-center gap-2 text-sm underline underline-offset-4 dark:text-neutral-400 text-neutral-600 hover:text-neutral-900 dark:hover:text-neutral-200">
                <img src="https://wisp.rex.wf/x/{{ account.username }}" class="h-8 w-8"> 
                <span>{{ account.name }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>

    <h2 class="text-neutral-700 dark:text-neutral-50 text-xl md:text-2xl font-bold my-3">future devlog ideas</h2>
    <ul class="list-disc ml-4 marker:text-neutral-400">
        {% for idea in kino_data.devlog_ideas %}
        <li {% if idea.completed %}style="text-decoration-line: line-through !important;"{% endif %}>
            {{ idea.title }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}