{% extends "base.html" %}
{% block title %}projects{% endblock title %}
{% block head %}
    {{ super() }}
    <script src="/static/gol.js" defer></script>
    <script src="/static/projects.js" defer></script>
{% endblock head %}
{% block meta %}
    <meta property="og:title" content="nam's projects" />
    <meta property="og:url" content="https://namishh.me/stuff" />
    <meta property="og:image" content="https://namishh.me/og/web/stuff" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:type" content="article" />
    <meta property="og:description" content="all the stuff that i have made">

    <meta property="twitter:description" content="all the stuff that i have made">
    <meta name="twitter:title" content="nam's projects">
    <meta property="twitter:image" content="https://namishh.me/og/web/stuff" />
{% endblock meta %}
{% block content %}
    <div id="projects-container"></div>
{% endblock content %}