{% extends "base.html" %}

{%block meta%}
<meta property="og:image" content="/og/content/{{file_path}}">
{% endblock meta%}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h1 class="text-2xl md:text-3xl font-bold mb-4">{{title}}</h1>
{% if headings %}
<!-- <div class="table-of-contents">
    <h3>Contents</h3>
    <ul>
        {% for heading in headings %}
            <li class="toc-level-{{ heading.0 }}">
                <a href="#{{ heading.2 }}">{{ heading.1 }}</a>
            </li>
        {% endfor %}
    </ul>
</div> -->
{% endif %}
    <article>

        <div class="markdown-content">
        {{ content | safe }}
        </div>
        
        {% if draft %}
            <div class="draft-notice">⚠️ This is a draft post</div>
        {% endif %}


        {% if date %}<div class="date text-right mt-4 text-sm">{{ date }}</div>{% endif %}
        {% if author %}<div class="author text-right mb-6">By {{ author }}</div>{% endif %}
    </article>

<script>
function copyCode(button) {
    const codeBlock = button.closest('.code-block').querySelector('code');
    const codeLines = codeBlock.querySelectorAll('.code-line');
    const codeText = Array.from(codeLines)
        .map(line => line.innerText)
        .join('\n');
    
    navigator.clipboard.writeText(codeText).then(() => {
    }).catch((err) => {
    });
}
</script>
{% endblock content %}